@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --foreground-rgb: 15, 23, 42;
    --background: 249, 250, 251;
  }

  .dark {
    --foreground-rgb: 248, 250, 252;
    --background: 16, 22, 34;
  }

  body {
    @apply bg-gray-50 text-slate-900 dark:bg-[#101622] dark:text-white;
  }

  /* Custom Scrollbar */
  ::-webkit-scrollbar {
    @apply w-2 h-2;
  }

  ::-webkit-scrollbar-track {
    @apply bg-slate-100 dark:bg-slate-800;
  }

  ::-webkit-scrollbar-thumb {
    @apply bg-slate-300 dark:bg-slate-700 rounded-full;
  }

  ::-webkit-scrollbar-thumb:hover {
    @apply bg-slate-400 dark:bg-slate-600;
  }
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

